
body{
    width: 100%;
    height: 100vh;
    margin:0;
    padding: 0;
    background-image: linear-gradient(to right top, #5e3aa6, #6c36a6, #7930a5, #8629a4, #931fa1, #9318a2, #920ea4, #9200a5, #8200ac, #6d00b5, #4f00bd, #0303c6);
  }