.main{
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    
}



.btn-style{
    padding:10px;
    border-radius:4px;
    border:0
}